@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-primary: #0f52ba;
  --color-primary-foreground: #f1f5f9;
  --color-secondary: #134e4a;
  --color-secondary-foreground: #334155;
  --color-success: #10b981;
  --color-success-foreground: #f1f5f9;
  --color-background: #e2e8f0;
  --color-foreground: #475569;
  --color-card: #f1f5f9;
  --color-card-foreground: #475569;
  --color-muted: #cbd5e1;
  --color-muted-foreground: #64748b;
  --color-border: #cbd5e1;
}

.dark {
  --color-primary: #3b82f6;
  --color-success: #34d399;
  --color-background: #1e293b;
  --color-foreground: #cbd5e1;
  --color-card: #334155;
  --color-card-foreground: #cbd5e1;
  --color-muted: #475569;
  --color-muted-foreground: #94a3b8;
  --color-border: #475569;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}
